* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: #62306d;
}
.pai {
  position: relative;
  width: 240px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -2;
}
.filho {
  background: #f7ec7d;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.filho::before {
  content: "";
  position: absolute;
  background: #aa445f;
  width: 100px;
  height: 100px;
  top: 0;
  border-radius: 50% 50% 0 0;
  z-index: -1;
}
.filho2 {
  background: #f7ec7d;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.filho2::before {
  content: "";
  position: absolute;
  background: #e38f66;
  width: 100px;
  height: 100px;
  bottom: 0;
  border-radius: 0 0 50% 50%;
  z-index: -1;
}
